.about-wrapper {
    height: 90vh;
}

.about-heading {
    font-size: 3.5rem;
    color: var(--text-color);
}

.about-content { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin:0 25% 0;
}

@media(max-width: 768px) {
    .about-wrapper{
        height: fit-content;
    }
    .about-content{
        margin: 0 10%;
        padding: 40% 2%;
    }
}