.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-logo);
  box-sizing: border-box;
  min-height: auto;
  width: 100vw;
  padding: 0;
  user-select: none;
}

.logo-wrapper {
  position: relative;
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: logoGrow 3s ease forwards;
}

.logo-static {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%) scale(var(--scale));
  transform-origin: center center;
}

.landing-logo {
  display: block;
  width: 100%;
  height: auto;
}

.email a {
  position: absolute;
  bottom: -0.25rem;
  left: 18.5%;
  color: var(--font-color);
  font-size: 32px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: .15rem;
}

@keyframes logoGrow {
  from {
    scale: 0.9
  }
  to {
    scale: 1
  }
}

