.projects-heading-wrapper {
    position: relative;
    width: 100%;
    background-color: var(--heading-bg);
    z-index: 2;
}
.projects-heading {
    position: relative;
    text-align: center;
    font-size: 1.7rem;
}

.margin-top {
    margin-top: 3rem;
}

.projects-heading h1 {
    font-family: 'ITC Bauhaus', sans-serif;
    margin: 0;
    color: var(--bg-logo);
}

.projects-section {
    position: relative;
    width: 100vw;
    padding: 0 0 6rem 0;
}

.project-wrapper {
    position: relative;
    padding: 2rem 0 0;
    width: 100vw;
    z-index: 2;
}

.line-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.line-background-accent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

@media(max-width: 931px) {
    .projects-heading {
        font-size: 1rem;
    }
}