.project-item {
  position: relative;
  max-width: calc(96.5% - var(--inset2) * 2);
}

.even {
  margin-left: var(--inset);
}

.odd {
  margin-left: var(--inset2);
}

.project-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-name {
  font-size: 1.3rem;
  color: var(--heading-color);
  background-color: var(--card-bg);
  text-align: center;
  width: fit-content;
  border-radius: 24px;
  border: 3px solid var(--heading-color);
  padding: 6px 15px 4px;
  font-family: 'Roc Grotesk', sans-serif;
  line-height: normal;
  margin: 0 0 1rem;
}

.website {
  display: block;
  text-align: center;
  color: var(--heading-color);
  font-size: .85rem;
  line-height: normal;
  width: fit-content;
}

.website:hover {
  color: #333;
}

.project-logo-container {
  position: absolute;
  top: 85px;
  left: 3%;
  width: 12vw;
  height: 12vh;
}

.project-logo {
  display: block;
  width: auto;
  height: auto;
  max-height: 12vh;
  max-width: 12vw;
  object-fit: contain;
  object-position: top left;
}

.project-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 7rem 0 0;
  justify-content: center;
  max-width: 60vw;
  width: fit-content;
  margin: 0 auto;
}

.project-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-thumb-wrapper {
  position: relative;
  max-height: 250px;
  min-height: 250px;
  max-width: 250px;
  min-width: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: block;
}

.project-thumb {
  position: absolute;
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s;
}

.project-title {
  position: absolute;
  top: 253px;
  left: 0;
  font-size: .8rem;
  text-align: left;
  color: var(--text-color);
  line-height: normal;
  font-weight: 600;
}

.project-title.haslink {
  cursor: pointer;
}


@media(max-width: 768px) {
  .project-item {
    max-width: calc(100% - var(--inset2) * 2);
  }
  .project-logo-wrapper {
    margin: 16% 15%;
    padding: 0;
  }

  .project-logo {
    max-height: 15vh;
    max-width: 45vw;
  }
}

/* carousel */

.carousel-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: zoom-out;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.carousel-content {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.11);
  cursor: default;
  border-radius: 16px;
  width: 100%;
  height: 90%;
  max-width: 90vw;
  box-sizing: border-box;
}

.carousel-slide {
  width: 70vw;
}

.carousel-slide.single-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.carousel-slide.double-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.carousel-slide.row-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-slide.column-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.carousel-slide.two-images img {
  max-width: 50%;
}

.carousel-slide.column-layout img {
  max-width: calc(70% - 0.5rem);
}

.carousel-arrow {
  font-size: 5rem;
  background: none;
  border: none;
  color: var(--heading-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-arrow:focus {
  background: none;
  border: none;
  outline: none;
}

.carousel-arrow:hover {
  background: none;
  color: var(--accent-color);
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff9f;
}

.close-btn:hover {
  background: none;
  color: var(--accent-color);
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.carousel-dot.active {
  opacity: 1;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .carousel-slide {
    height: fit-content;
    width: 100vw;
  }

  .carousel-slide.row-layout {
    flex-direction: column;
  }

  .carousel-slide.double-column {
    grid-template-columns: 1fr;
  }

  .carousel-content {
    padding: 1.5rem;
    flex-direction: row;
  }

  .carousel-slide.column-layout img {
    max-width: 80vw;
  }

  .carousel-slide.two-images img {
    max-width: 80vw;
    max-height: 33vh;
  }

  .carousel-arrow {
    display: none;
  }

  .carousel-indicators {
    bottom: 1rem;
  }
}