.theme-switch {
  position: fixed;
  top: 12vh;
  right: 10vw;
  width: 48px;
  height: 24px;
  z-index: 10;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  transition: 0.4s;
  border-radius: 34px;
  outline: 2.5px solid var(--nav-color);
}

.theme-switch .slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Toggle on (dark mode) */
.theme-switch input:checked + .slider {
  background-color: #333;
}

.theme-switch input:checked + .slider:before {
  transform: translateX(24px);
}
